---
layout: layout.njk
---

{# See ./parts.tmpl.ts #}
<main class="airy">
    <h1 style="margin-block-end: 50vh">
        <sub-title>Part {{ partNumber }}</sub-title>
        {{ part }}
    </h1>

    {% set prev = previousPart and previousPart.chapters | last %}
    {% set next = chapters[0] %}
    <div class="grid margin-block">
        {% if prev %}
        <p>
            Previous:
            <a href="{{ prev.data.url }}">{{ prev.data.title | safe }}</a>
        {% endif %}
        <p class="text-align:end" data-cols="2" data-cols@s="1">
            <strong>
                Next:
                <a href="{{ next.data.url }}">{{ next.data.title | safe }}</a>
            </strong>
    </div>
</main>

<footer>
    {% include "global-footer.njk" %}
</footer>
