---
layout: layout.njk
---

{# See ./parts.tmpl.ts #}
<main>
    <h1>
        <sub-title>Part {{ partNumber }}</sub-title>
        {{ part }}
    </h1>
    
    <div class="airy">
        <p>
            <strong>
                Next:
                <a href="{{ chapters[0].data.url }}">{{ chapters[0].data.title }}</a>
            </strong>
        </p>

        {% if previousPart %}
        {% set previousChapter = previousPart.chapters | last %}
        <p>
            Previous:
            <a href="{{ previousChapter.data.url }}">{{ previousChapter.data.title | safe }}</a>
        </p>
        {% endif %}
    </div>
</main>

<footer>
    {% include "global-footer.njk" %}
</footer>
