---
layout: layout.njk
---

<header>
    <h1>
        {% if chapter > 0 %}
        <sub-title>
            Chapter {{ chapter }}
        </sub-title>
        {% endif %}
        {{ title | safe }}
    </h1>

    {% set prev = search.previousPage(url, "chapter!=undefined", "chapter") %}
    {% set next = search.nextPage(url, "chapter!=undefined", "chapter") %}

    {% macro nav(show_toc=false) %}
    <nav aria-label="Chapters navigation">
        <div class="f-row flex-wrap:wrap justify-content:space-between">
            {% if prev or part %}
            <p>
                Previous:
                {% if part %}
                <a class="italic" href="/book/{{ part_url }}">{{ part }}</a>
                {% else %}
                <a class="bold" href="{{ prev.data.url }}">{{ prev.data.title | safe }}</a>
                {% endif %}
            {% endif %}
            {% if next %}
            <p>
                Next:
                {% if next.data.part %}
                <a class="italic" href="/book/{{ next.data.part_url }}">{{ next.data.part }}</a>
                {% else %}
                <a class="bold" href="{{ next.data.url }}">{{ next.data.title | safe }}</a>
                {% endif %}
            {% endif %}
        </div>

        {% if show_toc %}
            <details>
                <summary>Contents</summary>

                {% macro toc(block, level=0) %}
                    {% set isPart = level == 0 and is_whole_book %}
                    {% set isChapter = level == 1 and is_whole_book %}
                    <ul class="nested-list">
                        {% for sect in block.getSections() %}
                        <li>
                            <a href="#{{ sect.getId() }}" class="{{ 'bold' if isPart or isChapter }}">
                                {{ 'Part ' + loop.index + ':' if isPart }}
                                {{ sect.getTitle() | safe }}
                            </a>
                            {{ toc(sect, level + 1) if level < 2 and sect.getSections().length > 0 }}
                        </li>
                        {% endfor %}
                    </ul>
                {% endmacro %}
                {{ asciidoc and toc(asciidoc, 0) }}
            </details>
        {% endif %}
    </nav>
    {% endmacro %}

    {{ nav(show_toc=true) }}

</header>

<main>{{ content | safe }}</main>

<footer>
    {{ nav() }}
    <p>
    {% include "global-footer.njk" %}
    </p>
</footer>
