
<nav class="f-row overflow:auto" aria-label="Site navigation">
    <span id="footer-book-name" class="bold smallcaps">Hypermedia Systems</span>
    <a href="/">Cover</a>
    <a href="/book/contents">Contents</a>
    <a href="/colophon">Colophon</a>
    <a href="https://github.com/bigskysoftware/hypermedia-systems">GitHub</a>
</nav>
