
<nav class="f-row overflow:auto" aria-label="Site navigation">
    <span id="footer-book-name" class="bold smallcaps">Hypermedia Systems</span>
    <a href="/contents">Cover</a>
    <a href="/contents">Contents</a>
    <a href="/colophon">Colophon</a>
</nav>