
<nav class="f-row flex-wrap:wrap justify-content:center crowded" aria-label="Site navigation">
    <a href="/" id="footer-book-name" class="bold allcaps display-font italic">Hypermedia Systems</a>
    <a href="/book/contents">Contents</a>
    <a href="https://github.com/bigskysoftware/hypermedia-systems">GitHub</a>
</nav>
