<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hypermedia Systems</title>
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=merriweather:400,400i,700,700i|merriweather-sans:400,400i,700,700i" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.0.11/dist/missing.min.css">
    <link rel="stylesheet" href="https://unpkg.com/missing.css@1.0.11/dist/missing-prism.min.css">
    <style>
    @font-face {
        font-family: "Chicago FLF";
        src: url("/fonts/ChicagoFLF.ttf") format("truetype");
    }

    :root {
        --main-font: "Merriweather", serif;
        --secondary-font: "Merriweather Sans", sans-serif;
        --display-font: "Chicago FLF", "Impact", "Oswald", sans-serif;
        --mono-font: "Berkeley Mono", "Input Mono", "Iosevka", "Liberation Mono", "Victor Mono", "Consolas", monospace, monospace;

        --rhythm: 1.6rem;

        font-size: calc((18 / 16) * 100%);
    }

    @media (max-width: calc(
        3 * /* arbitrary coefficient */
        14ch + /* longest word: programmatically*/
        2 * 1.6rem /* page margins */
    )) {
        :root {
            hyphens: auto;
            -webkit-hyphens: auto; /* safari :( */
        }
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: normal;
        font-family: var(--display-font);
    }

    :is(h1, h2, h3, h4, h5, h6) code {
        font-family: inherit;
    }

    sub-title, .sub-title {
        color: var(--faded-fg);
    }

    .asciiart {
        line-height: 1;
    }

    /* #region Asciidoc */
    
    .colist {
        counter-reset: colist;
    }

    .colist li {
        counter-increment: colist;
        margin-inline-start: 1.2ch;
    }

    .colist li::marker {
        content: "(" counter(colist) ") ";
        font-family: var(--mono-font);
        font-size: .9em;
        font-weight: bold;
    }
    /* #endregion */
    </style>
</head>
<body>
{{ content | safe }}
</body>
</html>

