<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Building Hypermedia Systems</title>
    <link rel="stylesheet" href="https://the.missing.style">
</head>
<body>
<main>
    {{ content | safe }}
</main>
</body>
</html>

